@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://api.whatsapp.com/send?phone=3137450103&text=Buen%20d%C3%ADa,%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20para%20el%20desarrollo%20de%20un%20software" class="text-decoration-none" style="color: #075e54;" target="_blank"> <i class="bi bi-whatsapp"></i> WhatsApp</a>
            @* <a href="https://www.tiktok.com/@@rubencordoba0793?refer=creator_embed" class="text-decoration-none" style="color: #000;" target="_blank"> <i class="bi bi-tiktok"></i> Tiktok</a> *@
            <a href="https://www.youtube.com/@@rubendariocordobacuellar4086" class="text-decoration-none" style="color: #FF0000;" target="_blank"> <i class="bi bi-youtube"></i> Youtube</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
