@page "/"

<section class="about-me py-5">
    <div class="container">
        <!-- Título principal -->
        <div class="text-center mb-5">
            <h2 class="fw-bold">¡Hola! Soy Ruben, Desarrollador .NET</h2>
            <p class="text-muted">Apasionado por crear soluciones innovadoras y eficientes con tecnologías .NET</p>
            <img src="/img/RubenCordoba3.jpg" class="img-fluid img-thumbnail rounded-circle mt-3" style="filter: brightness(0.7); width: 300px; height: 300px; object-fit: cover;">
        </div>

        

        <!-- Tarjetas de experiencia -->
        <div class="row g-4">

            <!-- Tarjeta 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/img/logo-annar-azul-2.png" alt="Annar Health Technologies" class="img-fluid mb-3 rounded" style="width:200px; height:70px;" />
                    <div class="card-body">                        
                        <h5 class="card-title fw-bold">Annar Health Technologies</h5>
                        <p class="card-subtitle mb-2 text-muted"><strong>Rol:</strong> Desarrollador Semi Senior</p>
                        <p class="card-text">Realice análisis, diseño y desarrollo de soluciones innovadoras con tecnologías .NET y Angular, contribuyendo en software especializado para la gestión de exámenes de laboratorio, mejorando eficiencia y precisión en la atención médica.</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/img/HomeCenter.jpg" alt="Sodimac Colombia (Homecenter)" class="img-fluid mb-3 rounded" style="width:200px; height:70px;" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Sodimac Colombia (Homecenter)</h5>
                        <p class="card-subtitle mb-2 text-muted"><strong>Rol:</strong> Desarrollador Experto</p>
                        <p class="card-text">Encargado de análisis, diseño, supervisión de desarrollo, pruebas y documentación de microservicios desplegados en Azure DevOps sobre Openshift Redhat, demostrando dominio en sistemas escalables y eficientes.</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/img/gvs.png" alt="GVS Colombia" class="img-fluid mb-3 rounded" style="width:200px; height:70px;" />
                    <div class="card-body">
                        
                        <h5 class="card-title fw-bold">GVS Colombia</h5>
                        <p class="card-subtitle mb-2 text-muted"><strong>Rol:</strong> Desarrollador de Software</p>
                        <p class="card-text">Diseñé y desarrollé soluciones con .NET y Angular que permiten visualización detallada de ventas, facilitando análisis y mejorando la toma de decisiones comerciales.</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 4 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/img/siesa.png" alt="Interfaces y Soluciones SAS" class="img-fluid mb-3 rounded" style="width:200px; height:70px;" />
                    <div class="card-body">
                        
                        <h5 class="card-title fw-bold">Interfaces y Soluciones SAS</h5>
                        <p class="card-subtitle mb-2 text-muted"><strong>Rol:</strong> Analista Desarrollador</p>
                        <p class="card-text">Lideré procesos de desarrollo en .NET, integrando software de múltiples clientes con el ERP Siesa, logrando mayor eficiencia y conectividad en sistemas empresariales.</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 5 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/img/logo-informatica-creativa-1024x438.jpg" alt="Informática Creativa SAS" class="img-fluid mb-3 rounded" style="width:200px; height:70px;" />
                    <div class="card-body">
                        
                        <h5 class="card-title fw-bold">Informática Creativa SAS</h5>
                        <p class="card-subtitle mb-2 text-muted"><strong>Rol:</strong> Desarrollador de Software</p>
                        <p class="card-text">Analicé, diseñé y desarrollé soluciones en .NET, contribuyendo a software integral para entidades del sector solidario, mejorando su eficiencia e impacto.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



